header{
    background-color:#aa4b8f;
}
main{
    background-color:#d79dc7;
    text-align:center;
    color:white;
}
.info{
    background-color:white;
    color:#d79dc7;
}
footer{
    background-color:#aa4b8f;
}
footer h1, p{
color:white;
} 
.p1{
   border: 1px solid white;
    border-radius: 25px; 
 
}
main img{
    border: 1px solid white;
    padding: 10px;
   
}
